.figlscape {
    margin: 0 15px;
}

.figlscape img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    max-height: 111px; 
}

@media screen and (min-width: 768px) {
    .figlscape {
        margin: 0 35px;
    }

    .figlscape img {
        max-height: 222px;
        max-width: 1240px;
        margin: auto;
        display: flex;
    }
    
}