.card {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

@media (min-width: 768px) {
    .card {
        width: calc((100% - 30px) / 2);
    }   
}

@media (min-width: 1200px) {
    .card {
        width: calc((100% - 60px) / 3);
    }
}
